{% extends 'base.html.twig' %}

{% block title %}Публикации{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-12">
                <h1>Личный кабинет</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-2">
                {{ knp_menu_render('profile_menu', {'template': 'menu/profile/profile.html.twig'}) }}
            </div>
            <div class="col-md-12 mb-2">
                <a href="{{ path('profile.posts.create') }}" class="btn btn-outline-success">Добавить</a>
            </div>
            <div class="col-md-12 mb-2">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Заголовок</th>
                            <th>Статус</th>
                            <th>Понравилось</th>
                            <th>Создано</th>
                            <th>Опубликовано</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for post in pagination %}
                        <tr>
                            <td><a href="{{ path('profile.posts.edit', {'id': post.id}) }}">{{ post.title }}</a></td>
                            <td>{{ post_status(post.status) }}</td>
                            <td>{{ post.likes }}</td>
                            <td>{{ post.created|date('d-m-Y') }}</td>
                            <td>{% if post.published %}{{ post.published|date('d-m-Y') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
