{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="blog-post mb-2">
                    <h1 class="blog-post-title">{{ post.title }}</h1>
                    <p class="blog-post-meta">
                        {{ post.publishedAt|date('d-m-Y') }}, <a href="{{ path('users.profile', {'alias': author.alias}) }}">{{ author.name.full }}</a>
                    </p>
                    <p>{{ post.previewText }}</p>
                    <p>{{ post.text }}</p>
                </div>
                <div>
                    {{ post_like_panel(post, app.user) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-2">
                <h2 class="comments-title">Обсуждения ({{ comments.getTotalItemCount }})</h2>
            </div>
            {% for comment in comments %}
                <div class="col-md-12 mb-2">
                    <div class="comment card">
                        <div class="card-header d-flex justify-content-between">
                            <div>
                                <a href="{{ path('users.profile', {'alias': comment.author_alias}) }}">{{ comment.author }}</a>
                            </div>
                            <div>
                                {{ comment.created_at|date('d-m-Y H:i')  }} {% if comment.updated_at %} / Отредактировано: {{ comment.updated_at|date('d-m-Y H:i') }} {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text mb-2">{{ comment.text }}</p>
                            {{ comment_controls(comment, app.user) }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if comments.getTotalItemCount > 5 %}
                <div class="col-md-12 mb-2">
                    <a href="{{ path('post.comments', {'alias': post.alias}) }}" class="d-block btn btn-info">Все обсуждения</a>
                </div>
            {% endif %}
            {% if app.user %}
                <div class="col-md-12">
                    <a href="{{ path('post.comments.create', {'alias': post.alias}) }}" class="d-block btn btn-success">Добавить</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
